@charset "utf-8";

body {
  /* Feel free to change the font to suit your preference */
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

main {
  height: 100vh;
  width: 100%;
}

/* UTILITY CLASSES */
.flex {
  display: flex;
}

.center {
  display: grid;
  place-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}


/* MAIN */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.todo-container {
  max-width: 500px;
  margin-inline: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(0 0 0 / 0.05);
}

.todo-container h2 {
  text-align: center;
  color: #333;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e7e7;
  border-radius: 25px;
  padding-left: 17px;
}

.row input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  background: transparent;
}

.row button {
  border: none;
  outline: none;
  padding: 8px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 10px 10px 10px 45px;
  cursor: pointer;
  position: relative;
}

ul li.completed {
  color: #888;
  text-decoration: line-through;
}



/* ul li::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  top: 10px;
  left: 7px;
  background-color: transparent;
  border: 2px solid rgb(0 0 0 / 0.2);
}

ul li.completed::before {
  background-color: #4caf50; 
  border: none;
}
 */