@charset "utf-8";

body {
  /* Feel free to change the font to suit your preference */
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

/* MAIN */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.todo-container {
  max-width: 500px;
  width: 100%;
  margin-inline: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 25px 60px;
}

.todo-container h2 {
  font-size: 22;
  color: #333;
  margin-bottom: 13px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e7e7;
  border-radius: 25px;
  padding-left: 17px;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  background: transparent;
}

button {
  border: none;
  outline: none;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 8px 20px;
}

.add-todo-button {
  background-color: #4caf50;
}

.add-todo-button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}

li + li {
  margin-top: 10px;
}

ul li.completed {
  color: #888;
  text-decoration: line-through;
}

ul li span {
  position: absolute;
  color: #555;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 20px;
  top: -6px;
  right: 0;
  line-height: 35px;
  text-align: center;
}

ul li span:hover {
  background-color: #e7e7e7;
}